<%- include("header") -%> 


    <div class="box" id="heading">
        <h1>
            <%= kindOfday %>
        </h1>
    </div>

    <div class="box">        

        <% newItem.forEach(function(element){ %>
            <form action="/delete" method="post">

                <div class="item">
                    <input type="checkbox" name="chackBox" value="<%= element._id %>" onChange="this.form.submit()">
                    <p>
                        <%= element.name %>
                    </p>
                </div>
                <input type="hidden" name="pageTitle" value="<%=kindOfday %>">

            </form>

        <% }) %>

                <form class="item" action="/" method="post">
                    <input type="text" name="addItem" placeholder="New Item" autocomplete="off">
                    <button type="submit" name="page" value="<%=kindOfday %>" >+</button>
                </form>

    </div>

    <%- include("footer") -%>


      